{% load static from staticfiles %}

{% block content %}
<h1><strong>Checkout</strong></h1>
{% for item in cart %}
    {% with menu=item.menu  %}
    <p><strong>FOOD ITEM -> {{ menu.food_name }}< - £{{ menu.price }}</strong></p>

{% endwith %}
{% endfor %}
<p><strong> YOUR TOTAL IS £{{ cart.get_total_price}}</strong></p>
<form action="/payment/process/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<a href="{% url "catalog:menu_list"%}">Menu</a>
{% endblock content %}
