{% extends "menu_layout.html" %}

{% load static from staticfiles %}
{% block static%}<link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}"/>{% endblock %}

{% block title %}{{ menu }}{% endblock title %}

{% block content %}
<div class="det">


  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>{{menu.food_name}}</h1>
      </div>
            <li>
                {{ menu.description }}
            </li>
            <li>
                £{{ menu.price }}
            </li>
            {% if menu.image %}
                <img src="{{ menu.image.url }}">
                {% else %}
                <img src="/media/awi.jpg" alt="awaiting image icon" style="width:160px;height:100px;">
        </div>
        </div>
        {% endif %}
{% endblock %}
