{% extends "menu_layout.html" %}
{% load static from staticfiles %}
{% block static%}<link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}"/>{% endblock %}

{% block title %} Menu {% endblock title %}

{% block content %}
<a href="{% url "cart:cart_detail" %}">MY CART</a>
<div class="row">
{% for menu in object_list %}
<a href="{{ menu.get_absolute_url }}">
    <div class="col-md-3" >
        {{ menu.food_name }}
        {% if menu.image %}
     <img src="{{ menu.image.url }}" class="img-fluid" alt="Card image cap" id="try">
        {% else %}
        <p>
            awaiting image
        </p>
        {% endif %}

        <!-- <button type="button" class="btn btn-primary">Buy</button> -->
        </a>
    </div>


{% endfor %}
{% endblock %}



<!-- <div class="row">
{% for menu in object_list %}
    <div class="col-md-3">{{menu.food_name}}</div>

{% endfor %} -->


<!-- <div class="row">
{% for menu in object_list %}
    {% if forloop.counter0|divisibleby:4 %}
        </div><br><div class="row">
    {% endif %}
        <div class="col-4">
<p>
    {{menu.food_name}}
    {%if menu.image %}
     <img src="{{ menu.image.url }}" alt="Card image cap">
</p>
        </div>
        {%endif%}
{% endfor %} -->

<!-- {% for row in rows %}
<div class="row">
    {% for menu in row %}
    <div class="col-md-3">{{ menu.food_name }}</div>
    {% endfor %}
</div>
    {% endfor %} -->
