{% extends "layout.html" %}

{% block title %}{{ menu }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>Reservation</h1>
      </div>

      <h1>{{ menu.food_name }}</h1>
      <p>{{ menu.description }}</p>
      <p>{{ menu.price }}</p>
      <p>{{ menu.bestselling }}</p>
      

      <a class="btn btn-default" href="{% url 'list_reservation' %}">Back</a>
      <a class="btn btn-default" href="{% url 'edit_reservation' reservation.id %}">Edit</a>
      <a class="btn btn-danger" data-method="delete" href="{% url 'delete_reservation' reservation.id %}">Delete</a>
    </div>
  </div>
{% endblock %}
