{% extends "layout.html" %}

{% block title %}{{ reservations }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>Confirm deletion</h1>
      </div>

      <form action="" method="post">
          {% csrf_token %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>Party Size</th>
                <th>Booked Date/Time</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{ reservation.name }}</td>
                  <td>{{ reservation.mobile_number }}</td>
                  <td>{{ reservation.party_size}}</td>
                  <td>{{ reservation.time }}</td>

                <td>
                    <a class="btn btn-default" href="javascript:history.back()">Back</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </td>
                </tr>
            </tbody>
        </table>
      </form>
    </div>
  </div>

{% endblock %}
