{% extends "layout.html" %}

{% block title %}Upcoming Reservations{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">

      <div class="page-header">
        <h1>Reservations</h1>
      </div>

      {% if not object_list %}
        <p><strong>No upcoming reservations.</strong> Why not <a href="{% url 'reservations:new_reservation' %}">schedule one?</a>
      {% endif %}

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>Party Size</th>
            <th>Booking Date</th>
            <th>Booking Time</th>
            <th>Created On</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in object_list %}
            <tr>
              <td><a href="{{ reservation.get_absolute_url }}">{{ reservation.pk }}</a></td>
              <td>{{ reservation.name }}</td>
              <td>{{ reservation.mobile_number }}</td>
              <td>{{ reservation.party_size}}</td>
              <td>{{ reservation.date }}</td>
              <td>{{ reservation.time }}</td>
              <td>{{ reservation.created_on }}</td>
              <td>
                <a class="btn btn-default btn-xs" href="{% url 'reservations:edit_reservation' reservation.pk %}">Edit</a>
                <a class="btn btn-xs btn-danger" href="{% url 'reservations:delete_reservation' reservation.pk %}">Delete</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <a class="btn btn-primary" href="{% url 'reservations:new_reservation' %}">Create Reservation</a>
    </div>
  </div>
{% endblock %}
