{% extends "layout.html" %}

{% block title %}{{ reservations }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>Reservation</h1>
      </div>

      <dl class="dl-horizontal">
        <dt><strong>Name:</strong></dt>
        <dd>{{ reservation.name }}</dd>
        <dt><strong>Phone number:</strong></dt>
        <dd>{{ reservation.mobile_number }}</dd>
        <dt><strong>Time:</strong></dt>
        <dd>{{ reservation.time }}</dd>
        <dt><strong>Party Size:</strong></dt>
        <dd>{{ reservation.party_size }}</dd>
        <dt><strong>comments:</strong></dt>
        <dd>{{ reservation.comments }}</dd>
        <dt><strong>Time zone:</strong></dt>
        <dd>{{ reservation.time_zone }}</dd>
      </dl>

      <a class="btn btn-default" href="{% url 'list_reservation' %}">Back</a>
      <a class="btn btn-default" href="{% url 'edit_reservation' reservation.id %}">Edit</a>
      <a class="btn btn-danger" data-method="delete" href="{% url 'delete_reservation' reservation.id %}">Delete</a>
    </div>
  </div>
{% endblock %}
